footer{
    background-color:$color-black;
    color:#fff;
    .cta{
        background-color:$color-white;
        padding-left:4rem;
        
        .btn{
            
            width: 21rem;
            
            padding:1.5rem 2rem;
            margin-bottom:rem(37px);

            &:after{
                width: 21rem;
                height: 4rem;
                background-color:$color-black;
                content: " ";
                position: absolute;
                left: 30px;
                top: rem(37px);
                z-index: -100;   
            }
        }   
    }
    .usp{    
        ul{
            li{
                
                display:block;
                width:percentage(1/3);
                float:left;
                text-align:center;
                color:$color-white;
                background-color:$color-black;
                padding:4rem 1rem;
                box-sizing:border-box;

                svg{
                    fill:$color-white;
                    margin-bottom:0.5rem
                }
            }
            &:nth-child(1){
                background-color:$color-black-secondary;
            }
        }

    }
    .socialslider{  
        height:300px;
        width:100%;
        overflow:hidden;

        ul{
            li{
                position:relative;
                float:left;
                height:15rem;
                
                a{
                    background-color:yellow;
                    display: block;
                    position:absolute;
                    background-size:cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    top:0;
                    left:0;
                    right:0;
                    bottom:0;
                    width:100%;

                    img{
                        width:100%;
                    }
                }
            }
        }
    }
    .newsletter{
        text-align:center;
        padding-bottom:4rem;
    }

    /* Menu Footer
    --------------------------------------------*/
    .menu-footer-container{
        ul
        > {  li{
                display:block;
                float:left;
                width:percentage(1/4);

                ul{
                    li{display:block;}
                }
            }
        }
    }
}
.video{
    #homeVideo{
        width:100%;
        height:rem(640px);
    }
}
