footer{
    background-color:$black;
    color:#fff;

    .cta{
        background-color:$white; 

        h2{
            color:$black;
            grid-column-start: 1;
            grid-column-end: 6;
        }
        .btn-large{
            grid-column-start: 1;
            grid-column-end: 6;
        }
    }
        
    ul.usp{   
           li{
                font-weight:bold;
            
               
                text-align:center;
                color:$white;
                background-color:$black;
                padding:4rem 1rem;
                box-sizing:border-box;

                svg{
                    fill:$white;
                    filter:0.9;
                    margin-bottom:0.5rem;
                    width:4.666666666666667rem;
                }
            }
            &:nth-child(1){
                background-color:$black-secondary;
            }
        }

   
    .socialslider{  
        height:300px;
        width:100%;
        overflow:hidden;

        ul{
           li{
                position:relative;          
                height:15rem;             
                
                a{
                    background-color:yellow;
                    display: block;
                    position:absolute;
                    background-size:cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    top:0;
                    left:0;
                    right:0;
                    bottom:0;
                    width:100%;

                    .svg{
                        width:100%;
                    }
                }
            }
        }
    }
    .newsletter{
        text-align:center;
        padding-bottom:4rem;
    }

    /* Menu Footer
    --------------------------------------------*/
    .footer-list { 
        li{
            
            a{
                display:block;
                color:$white;
                margin-bottom:0.5rem;
                
                &:hover{
                    text-decoration:underline;
                }
            }
        }
        > li{
            >   a{
                    font-family:$font-stack; 
                    font-size:1.333333333333333rem;     
            }   
        }
    }
    
    .copyright{
        width:100%;

        padding-left:2rem;
        padding-right:2rem;

        p{
            font-size:1rem;
        }
    }
}
.video{
    #homeVideo{
        width:100%;
        height:rem(640px);
    }
}
