 /* Header Navigate
    -------------------------------------------*/
#header{ 
    display:grid;
    grid-template-columns: 8rem auto 8rem;
    position:fixed;
    top:0;
    left:0;
    z-index:990;
    width:$full;
    transition:left 0.15s ease-in 0s;
    background:$white;

    %headerbtn{
        position:relative;
        min-height:6rem;
        cursor: pointer;
        color: #fff;
        background-color:$black;
        box-sizing: border-box;
        transition:padding 0.1s ease-in 0s;
    }
    .navOpener{
        @extend %headerbtn;

        > section{
            position:absolute;
            left:50%;
            top:43%;
            width:2rem;
            transform: translateY(-50%) translateX(-50%);
            transition:all 0.1s ease-in 0s;

            .line{
                position:absolute;
                height:0.2rem;
                background-color:#fff;
                transition:all 0.15s ease-in 0s;
    
                &:nth-child(1){
                    width:2rem;
                }
                &:nth-child(2){
                    width:1.6rem;
                    margin-top:0.53rem;
                    opacity:1.0;
                    transition:all 0.1 ease-in 0s;
                }
                &:nth-child(3){
                    width:1.2rem;
                    margin-top:1.06rem;
                }
            }
            &:hover{
                .line{
                    width:2rem;
                }
            }
        }
        
    }
    .logo{
        padding:1rem 0;
        text-align:center;
        box-sizing:border-box; 
        
        img{
            width:7rem;

        }
       
    }
    .shoppingcart{
        @extend %headerbtn; 
    }
    


}

 /* SideMenu
    -------------------------------------------*/
#sideNav{
    z-index: 980;
    position:fixed;
    top:6rem;
    background-color:$black-secondary;
    left:-50%;
    width:50%;
    bottom:0;
    transition:all 0.2s ease-in 0s;
    ul{
        li{
            a{
                font-family: $font-stack;
                display:block;
                color:$white;
                font-size:1rem;
                padding:1rem 3rem;
                box-sizing:border-box;   
            }
        }
        &:first-child{
            padding-top:1rem;
        }
    }
}


 /* Open Toggle Active
    -------------------------------------------*/
.open{
    #header{
        .navOpener{
            background-color:$black-secondary;

            > section {
                top:50%;

                .line{

                    &:nth-child(1){
                        transform:rotate(45deg);
                        width:2rem;
                    }
                    &:nth-child(2){
                        opacity:0;
                    }
                    &:nth-child(3){
                        transform:rotate(-45deg);
                        width:2rem;
                        margin-top:0
                    }
                }
            }    
        }
    }
    #sideNav{
        left:0;
    }

}


