#homeIntro{
    padding-top:6rem;


    section{
   
        &:first-child{
            padding:12rem 0;
            box-sizing:border-box;
            display:flex;
            
            div{
                margin-left:6.666666666666667rem;

                h1{
                    position:relative;
                    margin-left:-2rem;
                    font-family: "Edo",sans-serif;
                    background-color:$color-btn;
                    padding:1rem 2rem;
                    //max-width:rem(420px);
                    margin-bottom:0;
                }
                h4{
                    color:$white;
                    background-color:$black;
                    padding:1rem 2rem;
                    padding-top:1.5rem;
                    //width:rem(420px);
                    margin-top:-1em;
                }
            }
        }
        &:nth-child(2){
            display:grid;
            grid-row: auto 30px;
            grid-template-columns: 1fr ;
            justify-content:end;
            align-content: end;
            
            figure{
                width:75%;
                justify-self: end;
                height:30rem;
               
                background:green;
            }
        }
    }
 }
          

/* Explenation steps
---------------------------------------- */
#steps{
    li{ 
        justify-content: center;
        padding:2rem 0;
        background-color:$black;
        color:$white;
        text-align:center;

        &:nth-child(even){
            background-color:$black-secondary;
        }
        figure{
            width:5rem;
            margin:auto; 

            svg{
                filter:brightness(0.9);
            }
        }
        span{
            font-size:rem(17px);
        }
    }
}
//.icon-steps{fill: #fff;}
/* customizer Intro choice
---------------------------------------- */

#customizerChoice{
    li{
        position:relative;
        // height:rem(450px);
        
        background-image:url(images/customize-longboard.jpg);
        background-size:100%;
        background-position:center;
        padding-bottom:rem(70px);
        transition:all 0.2s ease-in 0s;

        a{
            figure{
                text-align:center;
                padding:2rem;
                    svg{   
                        height:20rem;
                        filter:brightness(0.8);
                    }
                }  
                .btn{
                    position:absolute;
                    bottom:0;
                    width:100%;
                    box-sizing:border-box;
                }
            }
            &:hover{
                background-size:105%;

                a{
                    .btn{
                        background-color:$black;
                        color:#fff;
                    
                        .svg{
                            filter: brightness(1); 
                            right:1rem;
                            text-decoration:none;
                        }
                    }
                }   
            }
        }
    }



