#homeIntro{
    padding-top:5rem;
    width:100%;
    

    .banner{
        padding:6rem;
        box-sizing:border-box;
        
        .container{
            
            h1{
                position:relative;
                margin-left:-2rem;
                font-family: "Edo",sans-serif;
                background-color:$color-btn;
                padding:1rem 2rem;
                max-width:rem(420px);
                margin-bottom:0;
            }
            h4{
                color:$color-white;
                background-color:$color-black;
                padding:1rem 2rem;
                padding-top:1.5rem;
                width:rem(420px);
                margin-top:-1em;
            }
        }
    }
    .image{
        figure{
            float:right;
            width:75%;
            height:26rem;
            background-color:aqua;
        }
        footer{
            position:absolute;
            width:100%;
            bottom:0;

            // .btn{
            //     display:block;
            //     width:50%;
            //     float:left;
            //     font-size:1.33333rem;
            //     padding:1.5em 1.5em;
            //     box-sizing:border-box;

            //     &:nth-child(2){
            //         background-color:$color-white;
            //     }
            //     &:hover{
            //         background-color:$color-black;
            //     }
            //     svg{
            //         height:1.33333rem;
            //     }
            // }
        }
    }
}


/* Explenation steps
---------------------------------------- */
#steps{
    ul{
        li{
            width:25%;
            float:left;
            padding:2rem;
            box-sizing:border-box;
            display:block;
            background-color:$color-black;
            color:$color-white;
            text-align:center;

            &:nth-child(even){
                background-color:$color-black-secondary;
            }
            figure{
                height:rem(85px);
                margin-bottom:1rem;
                svg{
                    height:100%;
                    fill:$color-white;
                }
            }
            span{
                font-size:rem(17px);
            }
        }
    }
}
/* customizer Intro choice
---------------------------------------- */
#customizerChoice{
    ul{
        li{
            position:relative;
            display:block;
            float:left;
            // height:rem(450px);
            width:$third;
            background-image:url(images/customize-longboard.jpg);
            background-size:100%;
            background-position:center;
            padding-bottom:rem(70px);
            transition:all 0.2s ease-in 0s;

            a{
                figure{
                    text-align:center;
                    padding:2rem;

                    svg{
                        fill:#fff;
                        height:15rem;
                    }
                }  
                .btn{
                    position:absolute;
                    bottom:0;
                    width:100%;
                    box-sizing:border-box;
                }
            }
            &:hover{
                background-size:105%;

                a{
                    .btn{
                        background-color:$color-black;
                        color:#fff;
                    
                        svg{
                            fill:#fff;
                            right:1rem;
                            text-decoration:none;
                        }
                    }
                }   
            }
        }
    }
}


