.grid-side-left{
    // display: grid;
	// grid-template-rows:;
	// grid-template-columns: 300px 1fr;
    // height: 100vh; 
    display: grid;
    grid-template-columns: 18rem 1fr;
    
    
}
.sidebar{
    
   
    
    height:100vh;
    background-color:#fff;
    padding:6rem 2rem;
    box-sizing:border-box;

    .sidebar-filter{
        margin-bottom:2rem;

        h4{
            font-family: $font-stack;
            font-size:14px;
            font-weight:bold;
        }
        select{
            width:100%;
            padding:1rem;
        }
    }
}

