$base-font-size:15px;
$font-stack:'Poppins',sans-serif;
$font-size-default:$base-font-size;

$color-white:#fff;
$color-black:#000;
$color-black-secondary:#1D1D1D;
$color-background:#F5F5F5;
$color-btn:#EFCD3E;
$color-highlight:#3d65b6;
$full:100%;
$half:50%;
$quarter:25%;
$threequarter:percentage(3/4);
$third:percentage(1/3);
$margin-bottom:1rem;

$subtext:           #777;     


$headerbtn:6rem;

$green:         	#7ad03a;
$red:           	#a00;
$orange:        	#ffba00;
$blue:          	#2ea2cc;


// $secondary:         desaturate(lighten($primary, 40%), 21%);    // Secondary buttons
// $secondarytext:     desaturate(darken($secondary, 60%), 21%);   // Text on secondary color bg

// $highlight:         adjust-hue($primary, 150deg);               // Prices, In stock labels, sales flash
// $highlightext:      desaturate(lighten($highlight, 50%), 18%);  // Text on highlight color bg
